body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div,#mostrarBolsa{
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
form > div:has(input[type="submit"]) {
  margin-top: 50px;
  justify-content: center;
}

input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
}

form > div:has(#enviar){
  justify-content: center;
}
#enviar{
  cursor: pointer;
}

div:has(p){
  justify-content: flex-end;
}
p[name="numCuentaLimpio"]{
  margin-right: 50px;
}
#cookiesMostrar p{
  margin-left: 20px;
}
#cookiesMostrar h4{
  cursor: pointer;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 12px;
  padding: 7px 12px;
}
#mostrarBolsa p{
  line-height: 30px;
}