/**
* {
  border: 1px dashed red;
}
/**/
.selectorFecha {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  margin-bottom: 10px;
}
select{
  width: fit-content;
  background: transparent;
  border: none;
}
form{
  min-width: 970px;
}
.navAlumno{
  background-color: #e7e7e7;
  padding: 5px;
}
form > div,
.datosAlumno > div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 3fr 2fr 1fr;
}
.datosAlumno > div > div:nth-child(1),
.datosAlumno > div > div:nth-child(2) {
  width: 20px;
}
.datosAlumno > div > div {
  min-width: 120px;
}

.datosAlumno {
  display: block;
}

.datosAlumno p {
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cabecera div {
  font-weight: 700px;
}

.secretoCorto {
  border: none;
  background: transparent;
  width: 30px !important;
  margin-left: 0;
}

#cerrarSesion {
  align-self: flex-end;
}

.encabezado {
  font-weight: bold;
}

.faltaExistente {
  background-color: #c5c5c5;
}

div:has(.mostrarFaltas) {
  margin-bottom: 20px;
}
.mostrarFaltas {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr;
  gap: 8px;
}
.mostrarFaltas > div {
  min-width: 120px;
  margin-top: 5px;
}

.mostrarFaltasProfesor {
  grid-template-columns: auto 80px auto 300px 150px;
}

#infoFalta {
  width: 500px;
  margin-bottom: 20px;
}

#infoFalta div {
  margin-bottom: 10px;
}

.botonesFalta {
  display: block;
}

.inicioSesion div {
  display: flex;
  justify-content: space-between;
}

.selectorCurso, .selectorFalta{
  display: flex;
}

.selectorCurso div,.selectorFalta div,.enviarFalta input{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
  height: 30px;
 
}

.selectorCurso div.seleccionado,.selectorFalta div.seleccionado,.enviarFalta input {
  background-color: rgb(243, 181, 66);
}

.selectorOpciones{
  display: flex;
  justify-content: space-between;
}
