form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form >div{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

div:has(#enviarForm),form >div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#previsualizado{
    display: flex;
    justify-content: center;
}
.nature{
    background-color: green;
}
.commercial{
    background-color: orange;
}
.urban{
    background-color: yellow;
}

tr,td{
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    font-size: 10px;
}
tr,td{
    margin: 0px;
    border: none;
    padding: 0px;
}

table{
    border-spacing: 0px;
}