body,
p {
  margin: 0;
}
#contBebidas {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: 20px;
}
.cartaBebida {
  color: black;

  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  justify-items: center;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #f1f1f1;
}

.cartaBebida div {
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 200px;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.cartaBebida img {
  border-radius: 15px;
  width: 200px;
  height: 200px;
}

.cartaBebida button {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
  background-color: #346bcf;
  color: white;
  letter-spacing: 1.5px;
}

.modalCarrito {
  background-color: #ffffff;
  position: fixed;
  width: 500px;
  height: 95vh;
  right: 0;
  z-index: 100;
  margin: 2.5vh;
  border-radius: 25px;
  display: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
.modalCarrito.activo {
  display: flex;
}
.navegador {
  position: sticky;
  background-color: white;
  top: 0;
  height: 80px;
  padding: 10px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid grey;
}


.modalCarritoNav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.modalCarrito > div:last-child {
  margin-top: 10px;
}
#cerrarModal img,
#abrirModal img {
  height: 20px;
}
#abrirModal {
  margin-top: 7px;
  margin-right: 10px;
  cursor: pointer;
}
#cerrarModal {
  align-self: flex-end;
  padding: 10px;
  margin: 7px;
  cursor: pointer;
}

button {
  margin: 10px;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 18px;
  cursor: pointer;
}
button:hover {
  background-color: #ffc300;
}

.containerBebidas{
  overflow: auto;
}
.containerBebidas>div {
  display: grid;
  grid-template-rows: 120px;
  grid-template-columns: 1fr 2.5fr 0.5fr;
  gap: 8px;
  align-items: center;
  justify-items: center;
}
.containerBebidas img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
}
.eliminarCoctel img{
  width: 20px;
  height: 20px;
  cursor: pointer;

}

/* CUSTOM Scrollbar 
 https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
